[object]
name = <objectname>
street = <yourstreet>
zip = <yourzipcode>
city = <yourcity>

[client]
database = <database>
host = <your-host>
user = <user>
password = <pass>
default-character-set = utf8

[status]
production = false

[mail]
host = <host>
user = <username>
password = <password>
ssl = <boolean:ssl>
tls = <boolean:tls>
port = <port>
from = <noreplymail>
to =
    <yourmail>
    <yoursecondmail>
    <your-n-th-mail>

[variables]
secretkey = <your-unique-key>

[controlboard]
address = <your-address>
supply-threshold = <integer:percent>