[object]
name = <objectname>
street = <yourstreet>
zip = <yourzipcode>
city = <yourcity>

[client]
database = <database>
host = <your_host>
user = <user>
password = <pass>
default-character-set = utf8

[status]
production = false

[mail]
host = <host>
user = <username>
password = <password>
ssl = <boolean:ssl>
tls = <boolean:tls>
port = <port>
from = <noreplymail>
to = <yourmail>

[variables]
secretkey = m3*+bby-mll*jdfhb21*!yv)x+sgga-6d_9he6gt_chcburqzb