amqp==2.1.4
billiard==3.5.0.2
celery==4.0.2
Django==1.10.4
django-filter==1.0.1
django-mathfilters==0.4.0
djangorestframework==3.5.3
kombu==4.0.2 # 3.0.30
Markdown==2.6.7
mysqlclient==1.3.9
pytz==2016.10
redis==2.10.5
vine==1.1.3
